<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CFR_RallyCross.Properties.Settings.CFR_RallyCross_Timing_DatabaseConnectionString"
            connectionString="Data Source=(local)\SQLExpress;Initial Catalog=CFR_RallyCross_Timing_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>